.singup{
    width: 85%;
    border: 1px solid #919191;
    -webkit-box-shadow: 0 2px 5px rgba(105, 108, 109, 0.5), 0 0 8px 5px rgba(208, 223, 226, 0.3) inset;
    -moz-box-shadow: 0 2px 5px rgba(105, 108, 109, 0.5), 0 0 8px 5px rgba(208, 223, 226, 0.3) inset;
    box-shadow: 0 2px 5px rgba(105, 108, 109, 0.5),	0 0 8px 5px rgba(208, 223, 226, 0.3) inset;
    margin: 8% auto 0 auto;
    background: rgba(219, 219, 219, 0.24);
}

.singup label{
    width: 85%;
    margin-left: 7%;
    margin-bottom: 0;
    padding-top: 11px;
    padding-left: 6px;
    display: block;
    font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(105, 52, 0, 0.68);
}

.singup h1{
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
    margin-bottom: -1%;
    color: #863f00;
    font-family: 'Cuprum', sans-serif;
    font-weight: bolder;
    font-size: 42px;
}

.singup h1:after{
    display: block;
    content: ' ';
    width: 85%;
    height: 2px;
    margin: 10px 0 0 7%;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(130, 63, 0, 0.59) 20%, rgba(174, 76, 0, 0.75) 53%, rgba(131, 63, 0, 0.59) 79%,rgba(147,184,189,0) 100%);
}

.singup input{
    width: 85%;
    display: inline-block;
    margin: 0 5px 6px 45px;
    padding: 2% 0 2% 6%;
    border-radius: 5px;
    border: 1px solid #979797;
    outline: none;
    -webkit-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
}

.user {
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: 6%;
    background-position-x: .8%;
    background-position-y: 50%;
}

.password{
    background-image: url(../images/pass.png);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: 5.5%;
    background-position-x: 1.2%;
    background-position-y: 50%;
}

.email{
    background-image: url(../images/mail.png);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: 5%;
    background-position-x: 1.3%;
    background-position-y: 50%;
}

.city{
    background-image: url(../images/city.png);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: 4.7%;
    background-position-x: 1.3%;
    background-position-y: 50%;
}

.country{
    background-image: url(../images/country.png);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: 4.7%;
    background-position-x: 1.3%;
    background-position-y: 50%;
}

.positive{
    width: 4%;
    display: none;
}

.negative{
    width: 4%;
    display: none;
}

#pass-length{
    display: none;
}

#user-length{
    display: none;
}

#userCharacter-length{
    display: none;
}

#registerButton {
    background: #e3e3db;
    margin: 4% auto 5% auto;
    display: block;
    width: 130px;
    font-family: Verdana,Arial, sans-serif;
    font-size: 14px;
    color: #989070;
    padding: 9px 20px;
    border-radius: 7px;
    border-width: 1px;
    border-color: #e7e7e7 #c7c7c0 #c5c5bd #efefef;
    text-transform: uppercase;
    font-weight: bold;
}

#registerButton:hover{
    background: rgba(105, 52, 0, 0.68);
    color: white;
    transition: all .5s ease-in-out;
}